/* 타입 */
h3 + pre{
    text-align: center;
}

/* id */
#s-id01{
    color: hotpink;
}
#s-id02{
    color: darkred;
}
#s-id03{
    color: deepskyblue;
}

/* class */
.s-cls01{
    background-color: black;
    color: white;
}

/* 전체요소에 다 적용 */
*{
    text-align: right;
}

/* 자식 */
#atc > p{
    color: yellowgreen;
}

/* 인접 */
/* span 태그 바로 다음에 나오는 pre */
span + pre{
    background-color: cornflowerblue;
}

/* 하위 */
#atc02 span{
    color: chocolate;
}

/* 속성 */
p[title]{
    background-color: gray;
}

/* 가상 클래스 선택자 */
a:link{
    color: green;
    font-size: 20pt;
}
a:visited{
    color: gold;
}
a:hover{/* 마우스 올렸을 때 */
    background-color: black;
    color: white;
}
a:active{/* 누르는 순간 */
    background-color: yellow;
    color: tomato;
}
input:checked{/* 체크하면 체크박스가 */
    width: 100px;
    height: 100px;
}