<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="#">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function getLoc() {
            var userLoc = document.getElementById("userloc")
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getPos, getErr)
            } else {
                userLoc.innerHTML = "지원되지 않는 브라우저입니다."
            }
        }
        function getPos(pos) {
            const lat = pos.coords.latitude
            const lng = pos.coords.longitude

            $.ajax({
                url: "https://dapi.kakao.com/v2/local/geo/coord2address.json?x=" + lng + "&y=" + lat,
                type: "GET",
                headers: {
                    "Authorization" : "KakaoAK 0a04a8468406a22d0281480d598e655e"
                },
                success: function(data) {
                    var addrS = data.documents[0].address.address_name.split(" ")
                    if (addrS[0] == "서울") {
                        var addr = "서울특별시"
                    } else if (addrS[1].substr(-1) == "시" | addrS[1].substr(-1) == "군") {
                        var addr = addrS[1]
                    } else {
                        var addr = addrS[0] + "광역시"
                    }
                    const userLoc = document.getElementById("userloc")
                    userLoc.innerHTML = addr
                    if (addr) {
                        const con = document.getElementById("condi")
                        const tem = document.getElementById("temp")
                        const humid = document.getElementById("humidity")
                        const fore = document.getElementById("foreTemp")
                        $.ajax({
                            url: "/weather/?loc=" + addr,
                            type: "GET",
                            success: function(data) {
                                con.innerHTML = data[0].condi
                                tem.innerHTML = data[0].temp + "°C"
                                humid.innerHTML = data[0].humidity + "%"
                                for (i=0; i<24; i++) {
                                    var sp = document.createElement("span")
                                    var b1 = document.createElement("b")
                                    var b2 = document.createElement("b")
                                    b1.innerHTML = data[i].time
                                    b2.innerHTML = data[i].temp
                                    sp.appendChild(b1, b2)
                                    fore.appendChild(sp)
                                }
                            },
                            error: function(e) {
                                console.log(e)
                                }
                            })
                        }
                },
                error: function(e) {
                    console.log(e)
                }
            }
        )}
        function getErr(error) {
            var userLoc = document.getElementById("userloc")
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    userLoc.innerHTML = "위치 정보 권한 없음"
                    break
                case error.POSITION_UNAVAILABLE:
                    userLoc.innerHTML = "위치 정보를 나타낼 수 없음"
                    break
                case error.TIMEOUT:
                    userLoc.innerHTML = "위치 정보 요청 시간 초과"
                    break
                case error.UNKNOWN_ERROR:
                    userLoc.innerHTML = "알 수 없는 오류 발생"
                    break
            }
        }
        getLoc()
    </script>
</head>
<body>
    <h1>Hello, World!</h1>
    <a href="plants/">검색</a>
    <div id="userloc"></div>
    <div id="condi"></div>
    <div id="temp"></div>
    <div id="humidity"></div>

    <div id="foreTemp"></div>
</body>
</html>